/* general */
/* font taken from Google Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-VariableFont_wght.ttf) format("truetype");
}
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.light-background {
    background-color: #bed7b9;
}
.dark-background {
    background-color: #012622;
}
.center {
    display: block;
    margin: auto;
}

h1, h2, p, a {
    color: white;
    word-wrap: break-word;
    hyphens: auto;
    font-weight: 300;
}
h1, h2, p {
    padding: 1vw 0vw;
}
h1 {
    font-size: min(80px, 5vw);
}
h2 {
    font-size: min(60px, 5vw);
}
p {
    font-size: min(30px, 3vw);
}
a {
    font-size: min(20px, 1.5vw);
    text-align: center;
}

/* header */
header {
    display: flex;
    align-items: center;
    background-color: #003B36;
    padding: 0.5vw 0 0.5vw 10vw;
}
header img {
    height: 2.5vw;
}
nav li {
    display: inline-block;
    width: 12vw;
}
nav li a:hover {
    text-shadow: 0 0 5px #ffffff, 0 0 5px #ffc76c;
}
nav li a {
    display: block;
    text-decoration: none;
    padding: 0.5vw 2vw;
    transition: text-shadow 0.3s;
}
ul {
    display: inline-block;
    padding: 0vw 3vw;
}

/* index body */
.landing {
    background-color: #003B36;
}
.introduction {
    display: inline-block;
    height: 20vw;
    width: 40vw;
    padding: 6vw 0vw 0vw 10vw;
}
.profile-frame {
    position: relative;
    float: right;
    border-radius: 20%;
    background-color: #bed7b9;
    height: 35vw;
    width: 35vw;
    margin: 2vw 12vw -15vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-frame img {
    width: 18vw;
}

/* games */
.games {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.games h2, .games p {
    color: #012622;
    font-weight: 400;
    text-align: center;
}
.game-gallary {
    display: flex;
    justify-content: space-between;
    padding: 1vw 10vw 0 10vw;
}