/* header footer */
header, footer {
  align-items: center;
  background-color: #003B36;
  padding: 5px 10px;
}
footer {
  bottom: 0;
  flex-direction: row-reverse;
}
footer img {
  width: 40px;
}
nav li {
  list-style-type: none;
  width: 200px;
}
nav li a {
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.3s;
}
header nav li a:hover {
  text-shadow: 0 0 5px white, 0 0 3px white;
  box-shadow: inset 0 0 3px white;
}